@import './../constants';

.skyline-results-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skyline-search-results-weather {
    margin-bottom: $skyline-base-margin;
}

.skyline-results-weather-heading {
    margin-bottom: $skyline-base-margin;
    font-size: 12px;
}