.skyline{
    &-weather {
        display:flex;
        justify-content: space-between;
    }
    &-weather {
        &-icon {
            width: 48px;
        }

        &-item {
            text-align: center;
            margin-right: 10px;
        }
    }
    &-temperature {
        font-size: 12px;
    }
}